<% content_for :title { 'Customers' } %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th># of Orders</th>
    </tr>
  </thead>
  <tbody>
 <% @customers.each do |customer| %>
    <tr>
       <td><a href="/customers/<%=customer[1]%>"><%= customer[0] %></a></td>
       <td><%= orders_count(@order_ids, customer[1]) %></td>
    </tr>
 <% end %>
<% # TODO add pagination %>
  </tbody>
</table>
