<% content_for :title { @customer.present? ? "#{@customer.first_name}'s Order History" : "`"} %>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th># of Products</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
<% if @orders.present? %>
   <% @orders.each do |order| %>
    <tr>
        <td><%= order[0] %></td>
        <td><%= product_count(order[1]) %></td>
        <td><%= number_with_precision(order[2], precision: 2) %></td>
    </tr>
   <% end %>

    <tr>
      <td colspan="2">Lifetime Value</td>
      <td><%= number_with_precision(@lifetime_value, precision: 2) %></td>
    </tr>
<% else %>
   <tr>
	<td>No Records Available</td>
   </tr>
<% end %>
   <% # TODO add pagination %>
  </tbody>
</table>
